@model IEnumerable<Freestyle.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h6> Find Items</h6>
Enter keyworkds or item number
<br />
<input type="text" />
<select name="jBy">
    <option value="0">All words, any order</option>
    <option value="1">Exact words, any order</option>
    <option value="2">Exact words, excet order</option>
    <option value="3">Join tables by artistId</option>
    <option value="">No Join</option>
    <option value="artist">Artist</option>
</select>
<br />
Exclude words from your search
<br />
<input type="text" />
<p>
    see general <a href="">search tips</a> or <a href="">using advanced search options</a>
</p>
In this Category
<br />

<br />
<br />

<button>
    @Html.ActionLink("Search", "Result")
</button>
<br />
<br />
<h6>Search including</h6>
<input type="checkbox" /> title and description
<br />
<input type="radio" /> title and description

