@using Freestyle.Models
@model Freestyle.Models.Album

@{
    ViewBag.Title = "Album";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <span id ="img"></span>
    </div>
    <div class="col-md-8">
        <span id ="info"></span>
    </div>
</div>

<br/>

@section Scripts
{
    <script>
        $(document).ready(function() {
            getAlbum("IGOR", "Tyler, the creator");
        });
    </script>
}