@model IEnumerable<Freestyle.Models.Album>

@{
    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("TableHeaderPartial")

@Html.Partial("AlbumTablePartialView", Model)

<p>
    @Html.ActionLink("Create New", "Create")
</p>

