@model IEnumerable<Freestyle.Models.Album>

@{
    /**/

    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>
    <h1>All Albums</h1>
    @Html.Partial("AlbumTablePartialView", Model)
</section>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#albums-table').DataTable({
                "language": {
                    "zeroRecords": 'No Matching Records Found.<br>Would You Like To @Html.ActionLink("Create a New Album", "Create")?'
                },
                "columnDefs": [
                    { "targets": 2, "type": "date" },
                    { "targets" : [4,5], "type": "num"},
                    { "targets": 6, "orderable": false }
                ]

            });
        });
    </script>

}
