@model IEnumerable<Freestyle.Models.Album>

@{
    ViewBag.Title = "Album Search Results";
}

<section>
    <h2>Search Results</h2>
    @Html.Partial("Tables/AlbumTablePartialView", Model)
    @Html.ActionLink("Back To Search", "Index", "Search",null,  new { @class = "btn btn-primary btn-lg btn-block" })
</section>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#albums-table').DataTable({
                "language": {
                    "zeroRecords": 'No Matching Records Found.<br>Would You Like To @Html.ActionLink("Add a New Album", "Create")?'
                },
                "columnDefs": [
                    { "targets": 2, "type": "date" },
                    { "targets": [4, 5], "type": "num" },
                    { "targets": 6, "orderable": false }
                ]

            });
        });
    </script>
    }