<section>
    <h3 id="elements-title"></h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Track Name</th>
                <th>Length</th>
            </tr>
        </thead>
        <tbody id="tracklist"></tbody>
        <tfoot id="totalDuration"></tfoot>
    </table>
</section>
