@model IEnumerable<Freestyle.Models.Artist>

@{
                /**/

                ViewBag.Title = "Artists";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Artists</h1>

<section>
    @Html.Partial("ArtistTablePartialView", Model)
</section>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#artist-table').DataTable({
                "language": {
                    "zeroRecords": 'No Matching Records Found.<br>Would You Like To @Html.ActionLink("Add a New Artist", "Create")?'
                },
                "columnDefs": [
                    { "targets" : [2,3], "type": "num"},
                    { "targets": 4, "orderable": false }
                ]

            });
        });
    </script>

}