@using Freestyle.Models
@model Freestyle.Models.Artist

<section>
    <div class="row">
        <div class="col-md-7">
            <section id="rec-artist-img"></section>
        </div>
        <div class="col-md-3 col-md-offset-2">
            <section>
                @Html.ActionLink("Go to Artist", "Details", "Artist", new { id = Model.Id }, new { @class = "btn btn-outline-primary btn-lg btn-block" })
                @Html.ActionLink("Similar Artists", "Index", "Search",
                    new Search
                    {
                        type = "Artist", GenreCountry  = Model.OriginCountry, ScoreLowerBound = Model.AvgScore - 2 < 0 ? 0 : Model.AvgScore-2,
                        ScoreUpperBound = (Model.AvgScore + 2 > 10 || Model.AvgScore == 0) ? 10 : Model.AvgScore + 2
                    },
                    new { @class = "btn btn-outline-primary btn-lg btn-block" })
            </section> 
        </div>
    </div>
    <h4>
        <span id="rec-artist-name">@Model.Name</span>
    </h4>
</section>


<script>
    $(document).ready(function () {
        var artistName = $("#rec-artist-name").html();
        var url = encodeURI("https://ws.audioscrobbler.com/2.0/?method=artist.gettopalbums&artist=" + artistName+ "&api_key=" + LastFmKey + "&autocorrect=1&limit=10&format=json");
        $.getJSON(url,
            function (json) {
                var i = Math.floor(Math.random() * 10) % 10;
                var src = json.topalbums.album[i].image[3]["#text"];
                var alt = name + "Picture";

                $("#rec-artist-img").html("<img class='index-album-art' alt = " + alt + " src = " + src + " style = 'height:100%; width: 100%; object-fit: contain'>");

            });

    });
</script>

