@model IEnumerable<Freestyle.Models.Artist>

@{
    ViewBag.Title = "Artist Search Results";
}

<section>
    <h2>Search Results</h2>
    @Html.Partial("Tables/ArtistTablePartialView", Model)
</section>

@section Scripts{
    <script type="text/javascript">
        $("#artist-table").DataTable({
               
            "order": [2, 'desc'],
            "language": {
                "zeroRecords": 'No Matching Records Found.<br>Would You Like To @Html.ActionLink("Add a New Artist", "Create", "Artist")?'
            },
            "columnDefs": [
                { "targets": [2, 3], "type": "num" },
                { "targets": 4, "orderable": false }
            ]
        });
    </script>
    }