@model IEnumerable<Freestyle.Models.Review>

@{
    /**/

    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <h1>All Reviews</h1>
    @Html.Partial("Tables/ReviewTablePartialView", Model)
</section>



@section Scripts{
        <script type="text/javascript">
            $(document).ready(function() {
                $('#review-table').DataTable({
                    "language": {
                        "zeroRecords": 'No Matching Records Found.'
                    },
                    "columnDefs": [
                        { "targets": 2, "type": "num" },
                        { "targets": 3, "orderable": false }
                    ]
    
                });
            });
        </script>

}
