@model IEnumerable<Freestyle.Models.Review>

@{
    ViewBag.Title = "Review Search Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <h2>Search Results</h2>
    @Html.Partial("Tables/ReviewTablePartialView", Model)
    @Html.ActionLink("Back To Search", "Index", "Search",null,  new { @class = "btn btn-primary btn-lg btn-block" })

</section>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#review-table').DataTable({
                "language": {
                    "zeroRecords": 'No Matching Records Found.'
                },
                "columnDefs": [
                    {"targets":2, "type":"date"},
                    { "targets": 3, "type": "num" },
                    { "targets": 4, "orderable": false }
                ]

            });
        });
    </script>
}