@model IEnumerable<Freestyle.Models.Artist>

@{
    ViewBag.Title = "Review Search Results";
}

<section>
    <h2>Search Results</h2>
    @Html.Partial("Tables/ReviewTablePartialView", Model)
</section>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#reviews-table').DataTable({
                "language": {
                    "zeroRecords": 'No Matching Records Found.<br>Would You Like To @Html.ActionLink("Add a New Review", "Create")?'
                },
                "columnDefs": [
                    { "targets": 2, "type": "date" },
                    { "targets": [4, 5], "type": "num" },
                    { "targets": 6, "orderable": false }
                ]

            });
        });
    </script>
    }