.body {
    padding-top: 0;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#navbar {
    padding-bottom: 10px;
    margin-bottom: 15px;
}

section {
    margin-top: 25px;
    margin-bottom: 25px;
}

.rating-avg {
    font-size: 64px;
    text-align: center;
    color: #593196;
    text-shadow: 1px 5px black;
    transition-property: font-size, text-shadow;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.rating-avg:hover
{
    font-size:128px;
    text-shadow: 2px 10px black;
}

#album-art, #profile-pic, #review-art {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}


#google-map {
    display: block;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
}

.advanced-item {
    display: none;
}
