@model Freestyle.Models.EndUser

@{
    ViewBag.Title = "@" + Model.Username;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <section id="img"></section>
        <hr />
        <section id="score-slider">
            <h2 class="rating-avg"></h2>
            <div class="progress">
                <div class="progress-bar" id="score-progress"></div>
            </div>
        </section>
    </div>
    <div class="col-md-8">
        <section id="title">
            <h1>
                @Html.ActionLink("@" + Model.Username, "Details", Model.Id)
            </h1>
        </section>
        <hr />
        <h3>Bio</h3>
        <section id="bio"></section>
        <h3>Recent Reviews</h3>
        <section>
            @Html.Action("GetReviewsByUser", new{id=Model.Id})
        </section>
        <h3>Favorites</h3>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
</div>
