@model IEnumerable<Freestyle.Models.EndUser>

@{
    /**/

    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <h1>All Users</h1>
    @Html.Partial("Tables/UserTablePartialView", Model)
</section>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#user-table').DataTable({
                "language": {
                    "zeroRecords": 'No Matching Records Found.'
                },
                "columnDefs": [
                    { "targets": 2, "orderable": false }
                ]
    
            });
        });
    </script>

}