<div class="row">
    <div class="col-md-4" id="secondary-col">
        <section id="img"></section>
        <hr />
        <section id="score-slider">
            <h2 class="rating"></h2>
            <div class="progress">
                <div class="progress-bar" id="score-progress"></div>
            </div>
        </section>

    </div>
    <div class="col-md-8" id="primary-col">
        <section id="title">
        </section>
        <hr />
        <section id="bio">
            <h3>Synopsis</h3>
            <p id="bio-text"></p>
        </section>
    </div>
</div>



